In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import csv

In [1]:
query='"Peter Obi" "until:2012-03-17 since:2006-03-17"'
tweets=[]
limit=3
count=0
#csv_headers=['Obi Tweets']

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    count +=1
    #print (vars(tweet))
    #break
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.date, tweet.content, tweet.user.username,tweet.user.location, tweet.retweetCount, tweet.likeCount, tweet.sourceLabel, tweet.coordinates])
        print('Number', count, ':success')
df=pd.DataFrame(tweets, columns=['date', 'text', 'username', 'location', 'retweetcount', 'likecount', 'source', 'cordinates'])
df.to_csv('zzz.csv', index=False)
#print(df)
    #with open('Obi_tweet.csv.csv', 'w', encoding='utf-8', newline='') as f:
        #writer=csv.writer(f)
        #writer.writerow([df])

NameError: name 'sntwitter' is not defined

In [4]:
df_obi = pd.read_csv(r'c:\Users\HP\Desktop\EverSed\DataLeum\First Project Portfolio\second project\AllObiTweets.csv', encoding='latin-1', index_col=None) #:using r help me to converts a normal string to a raw string:
#import os
#rest_relation = pd.read_csv(os.path.join(os.getcwd(), 'AllObiTweets.csv'), delimiter=',')

C:\Users\HP\AppData\Local\Temp\ipykernel_2752\917183004.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_obi = pd.read_csv(r'c:\Users\HP\Desktop\EverSed\DataLeum\First Project Portfolio\second project\AllObiTweets.csv', encoding='latin-1', index_col=None) #:using r help me to converts a normal string to a raw string:

In [14]:
import os #to get the current directory of my file
current_directory = os.getcwd()
print(current_directory)

c:\Users\HP\Desktop\EverSed\DataLeum\First Project Portfolio\second project

In [5]:
df_obi.head(3)

,date,text,username,location,retweetcount,likecount,source,cordinates
0,2022-03-16 23:56:49+00:00,@peace_igho @kenstine @SmallMitch09 @ProGesh10...,SapphireBlend,Around the Globeð,0,3,Twitter for Android,NaN
1,2022-03-16 23:55:26+00:00,@Ibrahim77404362 @ChibuzoEzendu @firstladyship...,Philips79713377,NaN,0,0,Twitter for Android,NaN
2,2022-03-16 23:54:05+00:00,@Damilare1213 @MrBanRichy @Naija_PR @PeterObi ...,MarkOke5,"Ù ÙØ© Ø§ÙÙ ÙØ±Ù Ø©, Ø§ÙÙ Ù ÙÙØ© Ø§ÙØ¹Ø±...",0,2,Twitter for Android,NaN

In [41]:
df_obi['date']=df_obi['date'].apply(str)

In [6]:
#df_obi['date']=pd.to_datetime(df_obi['date'], format='%d/%m/%Y', errors='coerce')

# had to use coerce errors, so that the  invalid parsing will be set as NaT as it kept throwing unknown string error. 
#df_obi= pd.to_datetime('date', format='%d/%m/%Y', errors='coerce')
df_obi['date'] = pd.to_datetime(df_obi['date'])

df_obi.head(3)

ParserError: Unknown string format: date

In [11]:
df_obi.dtypes

date            object
text            object
username        object
location        object
retweetcount    object
likecount       object
source          object
cordinates      object
dtype: object

In [26]:
del df_obi['cordinates']

In [27]:
import re

In [28]:
df_obi['text']=df_obi['text'].apply(str) #my text column  had a pandas core.series.series datatype so i had to convert into string because it was throwing a expected string like object error
df_obi['location']=df_obi['location'].apply(str)

In [29]:

def cleanTwt(twt):
    twt = twt.lower()
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)
    twt=re.sub('#PeterObi', 'PeterObi', twt) #remnove has tags from Peter Obi
    twt = re.sub ('#peterobi', 'peterobi', twt)
    twt= re.sub('#Obi', 'Obi', twt)
    twt= re.sub('#obi', 'obi', twt)
    twt=re.sub('#[A-Za-z0-9]+', '', twt) #removes any string with a has tag
    twt=re.sub('\\n', '', twt) #removes all \n from strings 
    twt=re.sub('https?:\/\/\s+', '', twt) #removes all hyperlinks 
    twt = re.sub('\@\w+|\#\w+|\d+','',twt) # Remove @mentions
    twt = re.sub('#','',twt)  #Removing the # symbols
    twt = re.sub(':','',twt)  #Removing the : symbols
    twt = re.sub('\"','',twt) #Removing the " symbols
    twt = re.sub('\”','',twt) #Removing the ” symbols
    twt = re.sub('\“','',twt) #Removing the “ symbols
    twt = re.sub('\’','',twt) #Removing the ’ symbols
    twt = re.sub('\/','',twt) #Removing the / symbols
    twt = re.sub('\|','',twt) #Removing the | symbols
    twt = re.sub('\?','',twt) #Removing the ? symbols
    twt = re.sub('\.','',twt) #Removing the . symbols
    twt = re.sub('\,','',twt) #Removing the , symbols
    twt = re.sub('\!','',twt) #Removing the ! symbols
    twt = re.sub('@','',twt) #Removing the @ symbols
    twt = re.sub('\'','',twt) #Removing the ' symbols
    twt = re.sub('\\n','',twt) #Removing the \n symbols
    twt = re.sub('\\r','',twt) #Removing the \r symbols
    twt = re.sub('\*','',twt) #Removing the * symbols
    return twt 

df_obi['cleaned_tweets']= df_obi['text'].apply(cleanTwt)
df_obi['location']=df_obi['location'].apply(cleanTwt)
df_obi.head(3)

,date,text,username,location,retweetcount,likecount,source,cleaned_tweets
0,NaT,@peace_igho @kenstine @SmallMitch09 @ProGesh10...,SapphireBlend,around the globeð,0,3,Twitter for Android,i really wish they can give it to peter ob...
1,NaT,@Ibrahim77404362 @ChibuzoEzendu @firstladyship...,Philips79713377,nan,0,0,Twitter for Android,i dont understand the emotional blackmail b...
2,NaT,@Damilare1213 @MrBanRichy @Naija_PR @PeterObi ...,MarkOke5,ù ùø© ø§ùù ùø±ù ø© ø§ùù ù ùùø© ø§ùø¹ø±ø...,0,2,Twitter for Android,peter obi did better than the of them com...

In [30]:
df_obi['location'] = df_obi['location'].replace(to_replace=[''], value='Unknown')
df_obi['location'] = df_obi['location'].replace(to_replace=['unknown'], value='Unknown')

In [31]:
import nltk 
from nltk.tokenize import word_tokenize

In [32]:
from textblob import TextBlob
import numpy as np

In [33]:
#Get subjectivity in Obi tweets 
def getSubjectivity(twt):
    return TextBlob (twt).sentiment.subjectivity
def getPolarity(twt):
    return TextBlob (twt).sentiment.polarity
#create colums for subjecxtivity and polarity
df_obi['subjectivity']=df_obi['cleaned_tweets'].apply(getSubjectivity)
df_obi['polarity']=df_obi['cleaned_tweets'].apply(getPolarity)
df_obi.head(3)

,date,text,username,location,retweetcount,likecount,source,cleaned_tweets,subjectivity,polarity
0,NaT,@peace_igho @kenstine @SmallMitch09 @ProGesh10...,SapphireBlend,around the globeð,0,3,Twitter for Android,i really wish they can give it to peter ob...,0.366667,-0.033333
1,NaT,@Ibrahim77404362 @ChibuzoEzendu @firstladyship...,Philips79713377,nan,0,0,Twitter for Android,i dont understand the emotional blackmail b...,0.650000,0.000000
2,NaT,@Damilare1213 @MrBanRichy @Naija_PR @PeterObi ...,MarkOke5,ù ùø© ø§ùù ùø±ù ø© ø§ùù ù ùùø© ø§ùø¹ø±ø...,0,2,Twitter for Android,peter obi did better than the of them com...,0.321429,0.214286

In [56]:
#create a function to get the text sentiment 
def GetSentiment(score):
    if score<0:
        return 'negative'
    elif score ==0:
        return 'neutral'
    else:
        return 'positive'
df_obi['sentiment']= df_obi['polarity'].apply(GetSentiment)
df_obi.head(3)

,date,text,username,location,retweetcount,likecount,source,cleaned_tweets,subjectivity,polarity,sentiment
0,NaT,@peace_igho @kenstine @SmallMitch09 @ProGesh10...,SapphireBlend,around the globeð,0,3,Twitter for Android,i really wish they can give it to peter ob...,0.366667,-0.033333,negative
1,NaT,@Ibrahim77404362 @ChibuzoEzendu @firstladyship...,Philips79713377,nan,0,0,Twitter for Android,i dont understand the emotional blackmail b...,0.650000,0.000000,neutral
2,NaT,@Damilare1213 @MrBanRichy @Naija_PR @PeterObi ...,MarkOke5,ù ùø© ø§ùù ùø±ù ø© ø§ùù ù ùùø© ø§ùø¹ø±ø...,0,2,Twitter for Android,peter obi did better than the of them com...,0.321429,0.214286,positive

In [58]:
df_obi['sentiment'].value_counts()

neutral     102819
positive     59100
negative     26723
Name: sentiment, dtype: int64

In [57]:
df_obi.to_csv('MasterListObi_tweets.csv',encoding='utf-8-sig', index=False)